html, body {
  height: 100%;
}

html {
  display: table;
  width: 100%;
}

body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

li {
  margin-bottom: 1em;
}

ol.c {
  list-style-type: upper-roman;
  color: #615d5d;
}

.content {
  max-width: 70%;
  margin: auto;
  font-family: Verdana;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.cinq-text {
  color: #325586
}

.welcomeTitle {
  width: 100%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cinqDojo {
  width: 100%;
  text-align: center;
  color: #1691c6
}

.teamName {
  font-family: Verdana;
  color: white;
}

.teamName .name {
  font-family: Verdana;
  color: #cce8ff;
}

.team {
  border-radius: 15px 50px;
  background: #1586b5;
  padding: 20px;
  width: 500px;
  height: 100%;
}

.button-belts {
  background-color: #1586b5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

.p-team {
  display: flex;
  justify-content: space-evenly;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

